* {
  padding: 0px;
  margin: 0px;
}
.body-container {
  margin: 0px 30px;
}

img {
  max-width: 800px;
}
/* header */
header {
  height: 70px;
  padding: 0px 20px;
  background-color: #135275;
}

header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo-container img {
  height: 65px;
  width: 65px;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li {
  list-style: none;
  padding: 0px 10px;
}
header nav ul li.hire-me {
  padding-left: 50px;
}
header nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

/* wecome section */

#welcome-section {
  display: flex;
  align-items: center;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-container .portfolio-item .card {
  width: 400px;
  height: 400px;
  padding: 30px;
}

.portfolio-container .portfolio-item img {
  max-width: 100%;
}
